<button 
  class="{{classes.btn}}
    {{#if isStroke}}
      {{classes.btn_stroke}}
    {{else}}
      {{classes.btn_filled}}
    {{/if}}
    {{className}}
  "
  $click="buttonClick"
>
  {{text}}
</button>