<div class='{{classes.text-field}}'>
  <label class='{{classes.text-field__label}}' for='{{name}}'>{{label}}</label>
  <input
    class='{{classes.text-field__input}}'
    type='text'
    name='{{name}}'
    placeholder='{{placeholder}}'
  />
  <label class='{{classes.text-field__error}}' for='{{name}}'>{{error}}</label>
</div>