<div class="{{classes.card}} {{className}}">
  <div class="{{classes.card__title}}">
    {{#>slot name="title"}}
      {{@root.title}}
    {{/slot}}
  </div>
  <div class="{{classes.card__body}}">
    {{>slot name="body"}}
  </div>
  <div class="{{classes.card__actions}}">
    {{>slot name="actions"}}
  </div>
</div>