<div class='{{classes.card}} {{className}}'>
  <div class='{{classes.card__title}}'>{{title}}</div>
  <div class='{{classes.card__body}}'>
    {{>slot name='body'}}
  </div>
  <div class='{{classes.card__actions}}'>
    {{>slot name='actions'}}
  </div>
</div>