<div class="{{classes.overlay}}" style="{{#if isHide}} display: none;{{/if}}">
  {{#>comp name="Card" className=@root.classes.profile}}
    {{#>slot name="title"}}
      <div class="{{@root.classes.profile__title}}">
        Профиль пользователя
        <div class="{{@root.classes.title__actions}}">
          {{#if @root.isCurrentUser}}
            {{>comp name="Icon" iconName=(@root.icon) $click=@root.editProfile}}
          {{/if}}
          {{>comp name="Icon" iconName="close" $click=@root.close}}
        </div>
      </div>
    {{/slot}}
    {{#>slot name="body"}}
      <div class="{{@root.classes.profile__body-wrapper}}">
        <div class="
              {{@root.classes.profile__avatar}}
              {{#if @root.isEdit}}
                {{@root.classes.profile__avatar_edit}}
              {{/if}}
            "
            $click="changeAvatar"
        >
          <img src="{{@root.avatar}}" alt="{{@root.userAvatar}}">
        </div>
        <div class="{{@root.classes.profile__error}}">{{@root.error}}</div>
        <div class="{{@root.classes.profile__user-name}}">{{@root.profile.display_name}}</div>
        {{#each @root.profile}}
          {{>comp name="TextField"
              inputName=@key
              label=(@root.label)
              value=this
              validate=(@root.createValidator)
              disabled=(@root.disableInput)
              placeholder=(@root.placeholder)
              className=(@root.inputClasses)
          }}
        {{/each}}
      </div>
    {{/slot}}
    {{#>slot name="actions"}}
      <div class="{{@root.classes.profile__action-wrapper}}">
        {{#if @root.isEdit}}
          {{>comp name="Button" 
                text="Сменить пароль"
                $click=@root.editPassword
          }}
        {{/if}}
        {{>comp name="Button"
              text="Выйти"
              type="stroke"
              $click=@root.exit
              className=@root.classes.profile__exit-btn
        }}
      </div>
    {{/slot}}
  {{/comp}}
  {{>comp name="PasChange"}}
</div>