<div class='{{classes.chat}}'>
  <div class='{{classes.chat__title}} {{classes.panel}}'>
    <div class="{{classes.chat-name}}">{{chatName}}</div>
    {{>comp name="Icon" iconName="info" $click=showChatInfo}}
  </div>
  <div class='{{classes.chat__messages-area}}'>
    {{#each messages as | message |}}
      {{>comp name="Message"
          isSend=message.isSend 
          text=message.text
          date=message.date
          className=(@root.messageClass)
      }}
    {{/each}}
  </div>
  <div class='{{classes.chat__message-string}} {{classes.panel}}'>
    <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.35233 23.1368L19.4676 12.0606C20.0042 11.4731 20.2465 10.661 20.1412 9.80292C20.0359 8.94485 19.5917 8.11113 18.9062 7.48515C18.2208 6.85918 17.3503 6.49224 16.4862 6.46504C15.6222 6.43785 14.8353 6.75263 14.2988 7.34015L4.18346 18.4163C3.11037 19.5913 2.548 21.1445 2.62008 22.7342C2.69215 24.3238 3.39277 25.8198 4.5678 26.8929C5.74283 27.966 7.29602 28.5283 8.88568 28.4562C10.4754 28.3842 11.9713 27.6835 13.0444 26.5085L23.1597 15.4324C24.5905 13.8657 25.3014 11.7592 25.136 9.57645C24.9707 7.39366 23.9426 5.31333 22.278 3.79311C20.6134 2.27289 18.4486 1.4373 16.2598 1.47017C14.071 1.50304 12.0375 2.40167 10.6067 3.96838L1.16577 14.3061" stroke="black" stroke-width="2"/>
    </svg>

    {{>comp name="TextField" placeholder="Напишите сообщение..." className=classes.input-message}}

    <svg width="30" height="32" viewBox="0 0 30 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30 16L3.54734 31.2724C2.10496 32.1052 0.336194 30.9132 0.566565 29.2637L2 19L9.7908 16.9676C10.7876 16.7076 10.7876 15.2924 9.7908 15.0323L2 13L0.566562 2.73619C0.336193 1.08668 2.10496 -0.10526 3.54734 0.727499L30 16Z" fill="#DCDFE6"/>
    </svg>
  </div>
</div>