<div class="{{classes.chat-preview}}
     {{#if selected}}
        {{classes.chat-preview_selected}}
     {{/if}}
     "
     $click="chatClick">
  <div class="{{classes.chat-preview__avatar}}">
    {{#if chatInfo.avatar}}
      <img src="{{chatInfo.avatar}}" alt="{{avatarAlt}}" />
    {{else}}
      {{avatarAlt}}
    {{/if}}
  </div>
  <div class="{{classes.chat-preview__info}} {{classes.info}}">
    <div class="{{classes.info__chat-name}}">
      {{chatInfo.title}}
    </div>
    {{#if chatInfo.last_message}}
      <div class="{{classes.info__time}}">
        {{lastMessageTime}}
      </div>
      <div class="{{classes.info__last-msg}}">
        {{chatInfo.last_message.content}}
      </div>
    {{/if}}
    {{#if hasUnread}}
      <div class="{{classes.info__badge}}">
        {{chatInfo.unread_count}}
      </div>
    {{/if}}
  </div>
</div>