<div class='{{classes.chat-preview}}'>
  <div class='{{classes.chat-preview__avatar}}'>CN</div>
  <div class='{{classes.chat-preview__info}} {{classes.info}}'>
    <div class='{{classes.info__chat-name}}'>chat name</div>
    <div class='{{classes.info__time}}'>time</div>
    <div class='{{classes.info__last-msg}}'>last msg</div>
    <div class='{{classes.info__badge}}'>1</div>
  </div>
</div>