<div class='{{classes.text-field}}'>
  <label
    class='{{classes.text-field__label}}'
    for='{{inputName}}'
  >{{label}}</label>
  {{>comp name="Input"
      className=classes.text-field__input
      inputName=inputName 
      placeholder=placeholder
      type=type
      validate=validate
      $blur=validateInput
      $focus=validateInput
  }}
  <label
    class='{{classes.text-field__error}}'
    for='{{inputName}}'
  >{{error}}</label>
</div>