<div class="{{classes.error-page}}">
  {{#>comp name="Card" className=classes.error-page__card}}
    {{#>slot name="title"}}
      <span class="{{classes.error-page__code}}">{{code}}</span>
    {{/slot}}
    {{#>slot name="body"}}
      <p class="{{classes.error-page__message}}">{{textError}}</p>
      <div class="{{classes.error-page__button}}">
        {{>comp name="Button" text="Назад к чатам" type="stroke" $click=btnClick}}
      </div>
    {{/slot}}
  {{/comp}}
</div>